<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional Staement in Thymeleaf </h1>
	<h1>
	Use is <span th:style="${isActive}?'color:green':'color:red'"
	th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"></span>
	</h1>
	<!-- if unless is like if else but in this not working dont know why -->
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:if="${gender}=='F'">Female</h1>
	<h1 th:unless="${gender}=='o'">Other</h1>
	
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">List contain zero element</h1>
	<h1 th:case="'1'">List contain zero element</h1>
	<h1 th:case="'*'">List contain zero element</h1>
	</div>
</body>
</html>