<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<section>
	<h1>this is new section of contact</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium inventore ab fuga quas quae nam. Incidunt voluptatem laboriosam numquam quaerat enim in deleniti pariatur magnam omnis perspiciatis dolores natus sequi unde ab ullam non assumenda quod labore vero quasi. Aliquam facere quibusdam laborum eos blanditiis assumenda dicta repellat quia beatae.
	</p>
	
</section>
</body>
</html>